@page "/vehiculos"
@inject NavigationManager Navegador;
@inject ListarVehiculosUseCase ListarVehiculosUseCase
@inject EliminarVehiculoUseCase EliminarVehiculoUseCase



<PageTitle>Vehiculos</PageTitle>

<div style="overflow-x:@(!tieneElementos ? "hidden" : "scroll");">
    <DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar"/>
    <button type="button" style="background-color:#549539;border-radius: 0.5rem;">
        <a href="/vehiculo" style="text-decoration: none;color: white;display: flex;justify-content: space-around;align-items: baseline; padding: 0.5rem 0.2rem;width: 10rem;">
            <p style="margin: 0;">Agregar Vehiculo</p> <span class="oi oi-plus" style="color: white;"></span>
        </a>
    </button>
    
    <table id="table" class="table">
        <thead>
            <tr>
                @if (tieneElementos){
                    <th>ID
                        <button @onclick='() => OrdenarPorCampo("ID")' style="background-color: white;border: none;padding: 0;"> 
                            <span class="oi oi-chevron-bottom"></span>
                        </button> 
                    </th>
                    <th>DOMINIO
                        <button @onclick='() => OrdenarPorCampo("Dominio")' style="background-color: white;border: none;padding: 0;"> 
                            <span class="oi oi-chevron-bottom"></span>
                        </button> 
                    </th>

                    <th>MARCA
                        <button @onclick='() => OrdenarPorCampo("Marca")' style="background-color: white;border: none;padding: 0;"> 
                            <span class="oi oi-chevron-bottom"></span>
                        </button> 
                    </th>
                    <th>AÑO DE FABRICACION
                        <button @onclick='() => OrdenarPorCampo("AnioFabricacion")' style="background-color: white;border: none;padding: 0;"> 
                            <span class="oi oi-chevron-bottom"></span>
                        </button> 
                    </th>
                    <th>ACCIÓN</th>
                } else {
                    <th>ID</th>
                    <th>DOMINIO</th>
                    <th>MARCA</th>
                    <th>AÑO DE FABRICACION</th>
                    <th>ACCIÓN</th>
                }
            </tr>
        </thead>
        <tbody>
        @if (!tieneElementos) {
            <p>No hay elementos</p>
        } else {
            @foreach (var vehiculo in lista)
            {
                <tr>
                    <td>@vehiculo.ID</td>
                    <td>@vehiculo.Dominio</td>
                    <td>@vehiculo.Marca</td>
                    <td>@vehiculo.AnioFabricacion</td>
                    <td>
                        <button class="btn btn-primary" @onclick="()=>ModificarVehiculo(vehiculo)"> 
                            <span class="oi oi-pencil"></span>
                        </button>
                        <button class="btn btn-danger"  @onclick="()=>ConfirmarEliminacion(vehiculo)">
                            <span class="oi oi-trash"></span>
                        </button>

                    @* @if (vehiculo.Vehiculos.Count > 0){
                        <button class="btn btn-primary" @onclick="Mostrar" >Lista de Vehiculos</button>
                        @if (visible) {
                            <div class="dialogo-contenedor">
                                <div class="dialogo-contenido">
                                    <button style="margin-left: 90%;" class="btn btn-danger" @onclick="Cerrar"><span class="oi oi-x"></span></button>
                                    <table id="table2" class="table">
                                        <thead>
                                            <tr>
                                                <th>DOMINIO</th>
                                                <th>MARCA</th>
                                                <th>AÑO DE FABRICACION</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var vehiculo in vehiculo.Vehiculos)
                                            {
                                                <tr>
                                                    <td>@vehiculo.Dominio</td>
                                                    <td>@vehiculo.Marca</td>
                                                    <td>@vehiculo.AnioFabricacion</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    } *@
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>


</div>



@code {
    List<Vehiculo> lista = new List<Vehiculo>();
    bool tieneElementos = false;
    protected override void OnInitialized()
    {
        lista = ListarVehiculosUseCase.Ejecutar();
    }

    protected override void OnParametersSet()
    {
        if(lista.Count > 0) 
        {
            tieneElementos = true;
        }
    }

    void ModificarVehiculo(Vehiculo vehiculo)
    {
        Navegador.NavigateTo($"vehiculo/{vehiculo.ID}");
    }
    
    DialogoConfirmacion dialogo = null!;
    Vehiculo? vehiculoParaEliminar = null;
    private async Task ConfirmarEliminacion(Vehiculo vehiculo)
    {
        vehiculoParaEliminar = vehiculo;
        dialogo.Mensaje = $"va a eliminar el vehiculo {vehiculo.Dominio} {vehiculo.Marca}";;
        await dialogo.Mostrar(false);
    }
    private void Eliminar()
        {
        if (vehiculoParaEliminar != null) {
            EliminarVehiculoUseCase.Ejecutar(vehiculoParaEliminar.ID);
            lista = ListarVehiculosUseCase.Ejecutar(); //se actualiza la lista de vehiculos
        }
    }
     
    bool visible = false;

    void Mostrar()
    {
        visible = true;
    }
    void Cerrar()
    {
        visible = false;
    }

    private string campoOrdenado = "";
    private bool ordenAscendente = true;

    private void OrdenarPorCampo(string campo)
    {
        if(campoOrdenado == "")  ordenAscendente = false; // primera vez q toco alguno de todos los botones
        else if (campo == campoOrdenado) ordenAscendente = !ordenAscendente; //aca si toco el mismo boton
        else ordenAscendente = true; //aca si cambio el boton por ejemplo apreto dni y despues nombre

        campoOrdenado = campo;

        switch (campo)
        {
            case "ID":
                if (ordenAscendente)
                    lista = lista.OrderBy(e => e.ID).ToList();
                else
                    lista = lista.OrderByDescending(e => e.ID).ToList();
                break;
            case "Dominio":
                if (ordenAscendente)
                    lista = lista.OrderBy(e => e.Dominio).ToList();
                else
                    lista = lista.OrderByDescending(e => e.Dominio).ToList();
                break;
            case "Marca":
                if (ordenAscendente)
                    lista = lista.OrderBy(e => e.Marca).ToList();
                else
                    lista = lista.OrderByDescending(e => e.Marca).ToList();
                break;
            case "AnioFabricacion":
                if (ordenAscendente)
                    lista = lista.OrderBy(e => e.AnioFabricacion).ToList();
                else
                    lista = lista.OrderByDescending(e => e.AnioFabricacion).ToList();
                break;
            // Otros casos para más campos de ordenación
        }
    }

}