@page "/listadotitulares"
@inject ListarTitularesUseCase ListarTitularesUseCase

<div style="overflow-x: scroll; scroll-behavior: smooth;">
    <a href="/agregartitular">agrega aca</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DNI</th>
                <th>NOMBRE</th>
                <th>APELLIDO</th>
                <th>EMAIL</th>
                <th>TELEFONO</th>
                <th>ACCIÓN</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var titular in lista)
        {
            <tr>
                <td>@titular.ID</td>
                <td>@titular.Dni</td>
                <td>@titular.Nombre</td>
                <td>@titular.Apellido</td>
                <td>@titular.Email</td>
                <td>@titular.Telefono</td>
                <td>
                    <button class="btn btn-primary">
                        <span class="oi oi-pencil"></span>
                    </button>
                    <button class="btn btn-danger">
                        <span class="oi oi-trash"></span>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>


</div>



@code {
    List<Titular> lista = new List<Titular>();
    protected override void OnInitialized()
    {
        lista = ListarTitularesUseCase.Ejecutar();
    }
}